html {
	background-color: lightgray;
}

nav {
	background-color: black;
	width: 100%;
	text-align: center;
	text-decoration: none;
	height: 40px;
}

a {
	color: white;
	font-family: 'josefin sans';
	font-weight: 700;
	text-decoration: none;
	font-size: 16pt;
}

a:hover {
	text-decoration: underline;

}
