.content {
	width: 1110px;
	background-color: white;
	margin-top: 10vh;
	margin-bottom: auto;
	margin-right: auto;
	margin-left: auto;
	float: clear;



}

.loves {
	width: 450px;
	float: left;
}

.content p {
	font-family: 'lora';
	font-weight: 400;
	font-size: 14pt;
	text-align: left;
	letter-spacing: 0;
	float: right;
	width: 610px;
	margin-right: 0;
	margin-top: 10px;

}

p .umph {
	font-weight: 700;

}

.social {
	width: 550px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 35px;
	padding-top: 10vh;
	clear: right;
	vertical-align: center;
}

.social .icons {
	width: 45px;
	background-color: white;
	transition: background-color .5s;
	margin-right: 10px;
}

.social .icons:hover{
	background: rgba(0,0,0,.3);
	transition: background-color .5s;
}

@media screen and (max-width: 1400px) {
	.content {
		margin-top: 60px;
	}

	.loves {
		margin-top: 15px;
	}
}

@media screen and (max-width: 1175px) {
	.content {
		margin-top: 25px;
		width: 1075px;
		margin-left: auto;
		margin-right: auto;
	}

	.loves {
		width: 320px;
		margin-top: 15px;
		margin-left: 85px;
	}

	p .umph {
		font-size: 14pt;
	}

	.content p {
		margin-right: 40px;
		margin-left: 0;
		font-size: 12pt; 
	}

	.social {
		padding-top: 
	}
}

@media screen and (max-width: 1075px) {

	.content { 
		width: 900px;

	}

	.loves {
		width: 250px;
		margin-top: 100px;
	}

	.content p {
		width: 500px;
	}


}

@media screen and (max-width: 900px) {
	.content {
		width: 100%;
		margin-right: auto;
		margin-left: auto;
	}

	.content p{
		width: 50%;
		float: none;
		margin-right: auto;
		margin-left: auto;
		text-align: justify;

	}

	.loves {
		width: 50%;
		float: none;
		margin-right: auto;
		margin-left: auto;
		margin-top: 0;
		margin-bottom: 25px;
		display: block;
	}

	.social{
		width: 400px;
		margin-right: auto;
		margin-left: auto; 
		padding-top: 0;
		padding-left: 5px;
	}

	.social .icons {
		margin-right: 5px;
		width: 35px;
	}

}

@media screen and (max-width: 800px) {
	.social {
		width: 50%;
		padding-left: none;
		text-align: center;
	}

	.social .icons{
		margin-right: 5px;
		width: 30px;
	}

}

@media screen and (max-width: 725px) {

	.social {
		width: 200px;
	}

	.social .icons {
		width: 45px;
		padding-top: 3px;
	}
}


@media screen and (max-width: 675px) {
	.content, .loves, .content, .content p, .social {
		width: 95%;
	}


}

@media screen and (max-width: 550px) {
	.content, .loves, .content, .content p, {
		width: 95%;
	}

	.social {
		width: 200px;
		margin-top: 15px
	}


}

@media screen and (max-width: 350px) {
	.content p {
		text-align: left;
	}

	p .umph {
		text-align: center;
		font-size: 12pt;
	}

}












