html {
	background-color: black;
}


.video{
	width: 100%;
	height: 720px;
	margin-top: 5%;
	position: relative;
	text-align: center;
}

iframe {
	max-width: 1280px;
	max-height: 720px;
	margin: auto;
}

.email {
	margin-right: auto;
	margin-left: auto;
	font-size: 20pt;
	color: white;
	font-family: 'Josefin Sans';
	font-weight: 300;
	text-align: center;

}

.ampersand {
	position: relative;
	top: -.15vw;
}

a {
	text-decoration: none;
}

a:hover {
	color: #60d9f1;
}

.until {
	color: white;
	font-size: 13pt;
	font-family: 'Josefin Sans';
	font-weight: 300;
	text-align: center;
}

.socialicon {
	width: 50px;
	background-color: white;
	border: solid white;
	margin-right: 3px;
	margin-left: 3px;
	margin-top: 10px;

}

.socialicon:hover {
	background-color: #60d9f1;
}

@media only screen and (max-width: 1279px) {
	.video{
		height: 560px;
	}

	iframe {
		width: 1000px;
		height: 560px;
	 }

@media only screen and (max-width: 999px) {
	.video {
		height: 450px;
	}

	iframe {
		width: 800px;
		height: 450px;
	}

}

@media only screen and (max-width: 799px) {
	.video {
		height: 281px;
	}

	iframe {
		width: 500px;
		height: 281px;
	 }
}

@media only screen and (max-width: 499px) {
	.video{
		height: 113px;
	}

	iframe {
		width: 200px;
		height: 113px;
	 }

	 .email{
	 	font-size: 15pt;
	 }
}