html {
	background: url(mebw.croplong.jpg) no-repeat left center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}

body {
	margin: 0,0,0,0;
}

.nav {
	width: 40%;
	background-color: none;
	text-align: center;
	margin-bottom: 0;
	float: right;
	display: block;
	padding-top: 40vh;
	padding-right: 4vw;

}

h1 {
	color: black;
	font-family: 'Oswald';
	font-weight: 300;
	font-size: 25pt;
	letter-spacing: 3px;
	text-shadow: 0px 0px 20px rgba(0,0,0,.4);
	margin-bottom: 0;
	width: 750px;
}

h2 {
	color: black;
	font-family: 'Raleway';
	font-weight: light 300;
	font-size: 18pt;
	text-align: justify;
	margin-bottom: 15px;
	width: 750px;
}

.design {
	font-weight: 400;
	padding-left: 5px;
}

.vertbar {
	padding-left: 5px;
	font-weight: 400;
}

p {
	color: black;
	font-family: 'Archivo Narrow';
	font-weight: 400;
	font-size: 18pt;
	letter-spacing: 5px;
	margin-top: 5px;
	border-top: solid 2px black;
	width: 750px;
	text-shadow: 0px 0px 20px rgba(0,0,0,.2);

}

p .vertbar {
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 5px;
	font-weight: 400;
	font-size: 20pt;
	line-height: 200%;
	color: rgba(0,0,0,0);

}

a {
	text-decoration: none;
	color: black;
	transition: color .5s;
}

a:hover {
	color: #cc0000;
}

br {
	display: none;
}

.logocontainer {
	width:100px;
	height: 100px;
	position: fixed;
	bottom:35px;
    left:20px;

}

.logo {
	max-width: 99px;
    
}


@media screen and (max-width: 2110px) {

	.nav {
		width: 45%;
	}

}

@media screen and (max-width: 1710px) {

	.nav {
		width: 42%;
	}

	h1 {
		color: black;
		font-family: 'Oswald';
		font-weight: 300;
		font-size: 20pt;
		letter-spacing: 3px;
		text-shadow: 0px 0px 20px rgba(0,0,0,.4);
		margin-bottom: 15px;
		width: 600px;
	}

	p {
		color: black;
		font-family: 'Archivo Narrow';
		font-weight: 400;
		font-size: 13pt;
		letter-spacing: 5px;
		margin-top: 5px;
		border-top: solid 2px black;
		width: 600px;
		text-shadow: 0px 0px 20px rgba(0,0,0,.2);

	}

}

@media screen and (max-width: 1400px) {

	html {
		background: url(mebw.crophalfbig.jpg) no-repeat bottom center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover; 

	}

	.nav {
		float: none;
		vertical-align: middle;
		margin-right: auto;	
		margin-left: auto;
		display: inline;
		padding-right: 0;
		padding-top: 55px;
	}

	h1 {
		margin-right: auto;
		margin-left: auto;
		padding-top: 250px;
	}

	p{
		margin-right: auto;
		margin-left: auto;
	}

	.logocontainer {
		display: none;

	}


}

@media screen and (max-width: 1400px) and (max-height: 900px) {
	h1{
		padding-top: 15vh;
	}

}

@media screen and (max-width: 750px) {

	p.vertbar {
		display: none;

	}

	h1 {
		width: 500px;
	}

	p {
		width: 500px;
		font-size: 15pt;
		letter-spacing: unset;
	}

}

@media screen and (max-width: 650px) {

	p.vertbar {
		display: none;

	}

	h1 {
		width: 500px;
	}

	p {
		width: 500px;
		font-size: 15pt;
		letter-spacing: unset;
	}

}


@media screen and (max-width: 550px) {
	h1 {
		width: 350px;
	}

	p {
		width: 350px;
		font-size: 12pt;

	}

}

@media screen and (max-width: 375px) {
	h1 {
		width: 95%;
		font-size: 12pt;
		padding-top: 20px;

	}

	p {
		width: 95%;
		font-size: 9pt;
		margin-top: 0;
		letter-spacing: unset;

	}

}





















