html {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

body {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

@font-face{
	font-family: 'Avenir Next';
	src: url('Avenir Next.ttc');
}

@font-face{
	font-family: 'Avenir';
	src: url('Avenir.ttc');
}

.header {
	width: 100%;
	height: 435px;
	background-color: #f1f1f2;
	text-align: center;
	padding-top: 5px;
}

.avatar {
	padding-top: 25px;
	width: 200px;
}

h1 {
	font-family: 'Avenir Next';
	font-size: 30pt;
	font-weight: bolder;
	margin-bottom: 0;
	line-height: 40px;
}

h2 {
	font-family: 'Avenir Next';
	font-size: 20pt;
	margin-top: 0;
}

h2 > a {
	color: black;
	text-decoration: none;
	transition: ease .777s;
}

h3 {
	color: black;
	font-size: 15pt;
	letter-spacing: 5px;
	text-align: center;
	font-family: 'Avenir Next';
	font-weight: 400;
}

a {
	color: #cc0000;
}

a:hover {
	color: gray;
}

iframe {
	margin-top: 15px;
	margin-bottom: 15px;
	max-width: 90%;
}

.about {
	width:100%;
	height: 77px;
	background-color: #e6e7e8;
	padding-top: 15px;
	box-shadow: 0px -2px 8px rgba(0,0,0,.15);
}

.aboutcontent {
	width: 100%;
	height:auto;
	background-color: white;
	margin: 0 0 0 0;
	display: none;
}

.social {
	width: 550px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 30px;
	vertical-align: center;
}

.social .icons {
	width: 45px;
	background-color: white;
	transition: background-color .5s;
	margin-right: 10px;
}

.social .icons:hover{
	background: #cc0000;
	transition: background-color .5s;
}

.cite .social {
	padding-top: 23px;
	margin-bottom: 0;
}

.cite .social .icons {
	width: 45px;
	background-color: black;
	transition: background-color .5s;
	margin-right: 10px;
}

.cite .social .icons:hover{
	background: #cc0000;
	transition: background-color .5s;
}

.info {
	width: 600px;
	font-family: 'Avenir';
	font-weight: 400;
	text-align: justify;
	font-size: 14pt;
	line-height: 30px; 
}

.branding {
	width:100%;
	height: 77px;
	background-color: #d1d2d4;
	padding-top: 15px;
	box-shadow: 0px -2px 8px rgba(0,0,0,.15);
}

.brandingcontent {
	width: 100%;
	height:auto;
	background-color: white;
	margin: 0 0 0 0;
	overflow: auto;
	display: none;
}

.brandimg1 {
	width: 180px;
	height: 180px;
	float:left;
	margin-bottom: 20px;
	background-image: url(images/brandimg-01.png);
	background-size: contain;
}

.brandimg2 {
	width: 180px;
	height: 180px;
	float: left;
	margin-left: 20px;
	margin-bottom: 20px;
	background-image: url(images/brandimg-02.png);
	background-size: contain;
}

.brandimg3 {
	width: 180px;
	height: 180px;
	float: left;
	margin-left: 20px;
	margin-bottom: 20px;
	background-image: url(images/brandimg-03.png);
	background-size: contain;
}

.brandimg4 {
	width: 180px;
	height: 180px;
	float:left;
	margin-bottom: 20px;
	background-image: url(images/brandimg-04.png);
	background-size: contain;
}

.brandimg5 {
	width: 180px;
	height: 180px;
	float: left;
	margin-left: 20px;
	margin-bottom: 20px;
	background-image: url(images/brandimg-05.png);
	background-size: contain;
}

.brandimg6 {
	width: 180px;
	height: 180px;
	float: left;
	margin-left: 20px;
	margin-bottom: 20px;
	background-image: url(images/brandimg-06.png);
	background-size: contain;
}


.illustration {
	width:100%;
	height: 77px;
	background-color: #bbbdc0;
	padding-top: 15px;
	box-shadow: 0px -2px 8px rgba(0,0,0,.15);
}

.illustrationcontent {
	width: 100%;
	height:auto;
	background-color: white;
	margin: 0 0 0 0;
	overflow: auto;
	display: none;
}

.illimg1 {
	width: 180px;
	height: 180px;
	float:left;
	margin-bottom: 20px;
	background-image: url(images/illimg-01.png);
	background-size: contain;
}

.illimg2 {
	width: 180px;
	height: 180px;
	float: left;
	margin-left: 20px;
	margin-bottom: 20px;
	background-image: url(images/illimg-02.png);
	background-size: contain;
}

.illimg3 {
	width: 180px;
	height: 180px;
	float: left;
	margin-left: 20px;
	margin-bottom: 20px;
	background-image: url(images/illimg-03.png);
	background-size: contain;
}

.illimg4 {
	width: 180px;
	height: 180px;
	float:left;
	margin-bottom: 20px;
	background-image: url(images/illimg-04.png);
	background-size: contain;
}

.illimg5 {
	width: 180px;
	height: 180px;
	float: left;
	margin-left: 20px;
	margin-bottom: 20px;
	background-image: url(images/illimg-05.png);
	background-size: contain;
}

.illimg6 {
	width: 180px;
	height: 180px;
	float: left;
	margin-left: 20px;
	margin-bottom: 20px;
	background-image: url(images/illimg-06.png);
	background-size: contain;
}

.photography {
	width:100%;
	height: 77px;
	background-color: #a7a9ab;
	padding-top: 15px;
	box-shadow: 0px -2px 8px rgba(0,0,0,.15);
}

.photographycontent {
	width: 100%;
	height:auto;
	background-color: white;
	margin: 0 0 0 0;
	overflow: auto;
	display: none;
}

.photoimg1 {
	width: 180px;
	height: 180px;
	float:left;
	margin-bottom: 20px;
	background-image: url(images/photoimg-01.png);
	background-size: contain;
}

.photoimg2 {
	width: 180px;
	height: 180px;
	float: left;
	margin-left: 20px;
	margin-bottom: 20px;
	background-image: url(images/photoimg-02.png);
	background-size: contain;
}

.photoimg3 {
	width: 180px;
	height: 180px;
	float: left;
	margin-left: 20px;
	margin-bottom: 20px;
	background-image: url(images/photoimg-03.png);
	background-size: contain;
}

.photoimg4 {
	width: 180px;
	height: 180px;
	float:left;
	margin-bottom: 20px;
	background-image: url(images/photoimg-04.png);
	background-size: contain;
}

.photoimg5 {
	width: 180px;
	height: 180px;
	float: left;
	margin-left: 20px;
	margin-bottom: 20px;
	background-image: url(images/photoimg-05.png);
	background-size: contain;
}

.photoimg6 {
	width: 180px;
	height: 180px;
	float: left;
	margin-left: 20px;
	margin-bottom: 20px;
	background-image: url(images/photoimg-06.png);
	background-size: contain;
}

.writing {
	width:100%;
	height: 77px;
	background-color: #939597;
	padding-top: 15px;
	box-shadow: 0px -2px 8px rgba(0,0,0,.15);
}

.writingcontent {
	width: 100%;
	height:auto;
	background-color: white;
	margin: 0 0 0 0;
	display: none;
}

.misc {
	width:100%;
	height: 77px;
	background-color: #828282;
	padding-top: 15px;
	box-shadow: 0px -2px 8px rgba(0,0,0,.15);
}

.misccontent {
	width: 100%;
	height:auto;
	background-color: white;
	margin: 0 0 0 0;
	display: none;
}

.shop {
	width:100%;
	height: 77px;
	background-color: #6d6d6d;
	padding-top: 15px;
	box-shadow: 0px -2px 8px rgba(0,0,0,.15);
}

.shopcontent {
	width: 100%;
	height:auto;
	background-color: white;
	margin: 0 0 0 0;
	display: none;
}

.cite {
	width:auto;
	height: 100px;
	background-color: black;
	text-align: center;
}

@media screen and (max-width: 650px) {
	.info {
		width: 500px;
	}

	.brandimg1, .brandimg2, .brandimg3, .brandimg4, .brandimg5, .brandimg6, 
	.illimg1, .illimg2, .illimg3, .illimg4, .illimg5, .illimg6,
	.photoimg1, .photoimg2, .photoimg3, .photoimg4, .photoimg5, .photoimg6 {
		width: 150px;
		height: 150px;
	}

	.social {
		width: 400px;
	}

}

@media screen and (max-width: 550px) {
	.info {
		width: 400px;
	}

	.brandimg1, .brandimg2, .brandimg3, .brandimg4, .brandimg5, .brandimg6, 
	.illimg1, .illimg2, .illimg3, .illimg4, .illimg5, .illimg6,
	.photoimg1, .photoimg2, .photoimg3, .photoimg4, .photoimg5, .photoimg6 {
		width: 120px;
		height: 120px;
	}
}

@media screen and (max-width: 450px) {
	.info {
		width: 350px;
	}

	.brandimg1, .brandimg2, .brandimg3, .brandimg4, .brandimg5, .brandimg6, 
	.illimg1, .illimg2, .illimg3, .illimg4, .illimg5, .illimg6,
	.photoimg1, .photoimg2, .photoimg3, .photoimg4, .photoimg5, .photoimg6 {
		width: 105px;
		height: 105px;
		margin-left: 10px;
	}

	.social {
		width: 200px;
	}

	.cite .social .icons {
		margin-top: 10px;
	}

	.cite {
		height: 155;
	}

}

@media screen and (max-width: 375px) {
	.info {
		width: 300px;
		font-size: 13pt;
		text-align: left;
		line-height: normal;
	}



	.brandimg1, .brandimg2, .brandimg3, .brandimg4, .brandimg5, .brandimg6, 
	.illimg1, .illimg2, .illimg3, .illimg4, .illimg5, .illimg6,
	.photoimg1, .photoimg2, .photoimg3, .photoimg4, .photoimg5, .photoimg6 {
		width: 133px;
		height: 133px;
		display: flex;
		justify-content: space-between;
		margin-top: 5px;
	}
}

@media screen and (max-width: 325px) {
	.info {
		width: 250px;
		font-size: 1em;
	}

	.brandimg1, .brandimg2, .brandimg3, .brandimg4, .brandimg5, .brandimg6, 
	.illimg1, .illimg2, .illimg3, .illimg4, .illimg5, .illimg6,
	.photoimg1, .photoimg2, .photoimg3, .photoimg4, .photoimg5, .photoimg6 {
		width: 115px;
		height: 115px;
	}
}
