@viewport {
  width: device-width;
  zoom: 1;
}

body {
	display: inline-block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
  margin-top: none;
  margin-bottom: none;
  padding: none;
}

.header {
  height: 23vw;
  width: 100vw;
  background-color: #fff;
}

h1 {
  	font-family: 'josefin slab', serif;
  	font-size: 5.75vw;
  	font-weight: 300;
    color: #000;
    margin-top: 7vw;
    display: inline-block;
  }

h2 {
    font-family: 'raleway', sans-serif;
    font-size: 1.25vw;
    font-weight: 100;
    color: #000;
    margin-top: -4vw;
    letter-spacing: .25vw;
}

.line1 {
  width: 90vw;
  height: .05vw;
  background: black;
  margin-right: auto;
  margin-left: auto;
}
.line2 {
  width: 90vw;
  height: .05vw;
  background: black;
  margin-right: auto;
  margin-left: auto;
  margin-top: .5vw;
}


.aboutpiccontainer {
  height: 38vw;
  width: 38vw;
  background-color: none;
  margin-top: 0;
  display: inline-block;
  float: left;
}

.aboutpic {
  width: 30vw;
  padding-top: 4vw;
  padding-left: 4vw;
}

.abouttextcontainer {
  height: 38vw;
  width: 62vw;
  background-color: none;
  margin-top: 0;
  display: inline-block;
  float: left;
}

.abouttext {
  font-family: 'raleway';
  font-weight: 100;
  font-size: 1.75vw;
  font-weight: 300;
  padding-left: 1vw;
  padding-right: 8vw;
}

















