html {
	background-color: #1d1d1d;
}

.shortcuts { 
	width: 700px; 
	height: 525px;
	position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

}
.icons { 
	width:100px; 
	height:100px; 
	margin: 15px 15px 15px 15px;
	 border-radius: 10px;
	 background-color: none; 
	 box-shadow: none;  
}

.icons:hover{
	background-color: white;
	transition: background-color .3s;
	box-shadow: 0px -2px 20px rgba(255,255,255,.5);
	transition: box-shadow .1s;
}

.mobilebreak {
	display: none;
}
@media screen and (max-width: 750px) {
	.shortcuts {
		width: 400px;
		height: auto;
	}

	.webbreak {
	display: none;
	}

	.mobilebreak {
		display: inline;
	}
}

