body{
	background: white;
}

@media screen and (max-width: 1024px){

#container {
	width: 900px;
	margin: 50px auto 0px auto;
}

img {
	margin-top:-4px;
	background:#fff;
	margin: 5px;
}

img:hover {
	box-shadow: 1px 1px 1px 1px #727272; 
}

#container img {
	width: 170px;
	border: solid black 1px;
}