.content {
	width: 1110px;
	background-color: white;
	margin-top: 20vh;
	margin-bottom: auto;
	margin-right: auto;
	margin-left: auto;
	float: clear;



}

.loves {
	width: 450px;
	float: left;
}

.content p {
	font-family: 'lora';
	font-weight: 400;
	font-size: 14pt;
	text-align: left;
	letter-spacing: 0;
	float: right;
	width: 610px;
	margin-right: 0;
	margin-top: 10px;

}

p .umph {
	font-weight: 700;

}

.social {
	width: 450px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 15px;
	float: right;
	vertical-align: center;
}

.social .icons {
	width: 45px;
	background-color: white;
	transition: background-color .5s;
}

.social .icons:hover{
	background: rgba(0,0,0,.3);
	transition: background-color .5s;
}

@media screen and (max-width: 1400px) {
	.content {
		margin-top: 60px;
	}

	.loves {
		margin-top: 15px;
	}
}

@media screen and (max-width: 1175px) {
	.content {
		margin-top: 25px;
		width: 1075px;
		margin-left: auto;
		margin-right: auto;
	}

	.loves {
		width: 320px;
		margin-top: 15px;
		margin-left: 85px;
	}

	p .umph {
		font-size: 14pt;
	}

	.content p {
		margin-right: 40px;
		margin-left: 0;
		font-size: 12pt; 
	}
}