body {
	margin: 0;
	background-size: 100%;
	background-repeat: no-repeat;
	background-color: white;
}

.image {
	height: 1000px;
	width: 30%;
	float: left;
	background-color: gray;
}

.loves {
	max-width: 200px;
}

.text { 
	width: 65%;
	background-color: red;
	display: inline-block;


}

p {
	font-family: 'Lora'
}