.header {
	height: 60px;
	width: 100%;
	margin: 0 0 0 0;
	background-color: black;

}

.logocontainer {
	height: 60px;
	width: 100px;
	background-color: black;
	float: left;
}

.logo {
	height: 48px;
	float: left;
	vertical-align: middle;
	margin-top: 6px;
	margin-bottom: 6px;
	margin-left: 50px;
}

.cscdesign {
	font-family: "Montserrat";
	font-weight: 400;
	font-size: 40pt;
	float: left;
	margin-top: -5px;
	margin-left: 3px;
	margin-right: 2px;
	margin-bottom: 1px;
	background-color: white;
	padding-left: 4px;
	padding-right: 3px;
	padding-bottom: 1px;
}

.navbar {
	background-color: black;
	float: left;
	height: 60px;
	padding-left: 8px;
}

.navbar p {
	color: white;
	font-family: "Montserrat";
	font-weight: 400;
	font-size: 15pt;
	float: left;
	letter-spacing: 2px;
	margin-right: 2.5vw;
	margin-top: 17px;
	border-bottom: 0;
	transition: border-bottom .5s ease;
}

.navbar p:hover {
	border-bottom: solid white 1px;
	transition: border-bottom .5s ease;
